<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myreport" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-plugin-myreport</name><js-module name="cordova-plugin-myreport" src="www/cordova-plugin-myreport.js"><clobbers target="cordova.plugins.cordova-plugin-myreport" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="cordova-plugin-myreport"><param name="ios-package" value="cordova-plugin-myreport" /></feature></config-file><source-file src="src/ios/cordova-plugin-myreport.m" /></platform></plugin>
