<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myreport" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-myreport</name>
    <js-module name="MyReport" src="www/cordova-plugin-myreport.js"><clobbers target="cordova.plugins.myReport" /></js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyReport"><param name="ios-package" value="MyReport" /></feature>
        </config-file>
        <source-file src="src/ios/MyReport.m" />
        <source-file src="src/ios/PDFModel.h" />
        <source-file src="src/ios/PDFModel.m" />
    </platform>
</plugin>
